.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: center wrap;
    align-items: center;
}

.flexbox-item {
    transform: scale(1);
    transition-duration: 0.5s;
    width: 200px;
    margin: 50px;
    cursor: pointer;
}

button[type=button] {
    display: flex;
}

.flexbox-item:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.text {
    transition-duration: 0.5s;
}

.icon {
    transition-duration: 0.5s;
    position: relative;
    top: 12px;
    display: flex;
    height: 100%;
    opacity: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flexbox-item:hover .text {
    transition-duration: 0.5s;
    opacity: 1;
}

.flexbox-item:hover .icon {
    transition-duration: 0.5s;
    opacity: 0;
}

.image_button {
    min-height: 30px;
}

.quote_button {
    min-height: 30px;
}

.emoji_button {
    min-height: 30px;
}

.icon {
    position: absolute;
    display: flex;
    top: -21px;
    opacity: 1;
}

.text {
    position: relative;
    opacity: 0;
}
