@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');

.content-container{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  clip: rect(auto, auto, auto, auto);
  pointer-events: none;
}
.content-inner{
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.content-center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section h1{
  font-size: 130px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.content-theme-dark h1{
  color: white;
  text-shadow: 0 0px 20px rgb(0 0 0 / 50%);
}
